/* Variables - Fonts */
$font-basic-light: Helvetica, sans-serif;
$font-basic-normal: Helvetica, sans-serif;
$font-basic-bold: Helvetica, sans-serif;

/* Variables - Colors */
$color-white: white;
$color-black: black;
$color-lightgrey: #fafafa;
$color-grey: #dddddd;
$color-midgrey: #999999;
$color-text: #333333;
$color-turquoise: #02bddc;
$color-magenta: #c90091;
$color-grassgreen: #bad32f;
$color-woodgreen: #73be47;
$color-red: #ff2f00;